@keyframes zoomIN {
    10% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.effect_fadeIn {
    opacity: 0;
}

.effect_fadeIn_target {
    animation: zoomIN 0.2s linear;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
}
