.archive_01 {

    @include media-breakpoint-up(xs) {
        div.wrap {
            .list-item {
                transition: 1s;
            }
        }
        div.view-mode {
            background: #ffffff;
            border-radius: 5px;
            transition: 0.2s;
            box-shadow: 1.5px 1.5px 1.5px 1.5px #e2e2e2;
            div.field-title{
              h3{
                line-height: 2em;
              }
            }
            ul.post-categories{
              float:left;
              margin: 0px;
              padding: 0px;
              display: flex;
              li{
                list-style-type: none;
                a{
                  border-radius: 2px;
                  padding: 2px 4px;
                  margin-right: 5px;
                  background: #26446F;
                  color: #ffffff;
                }
              }
            }
        }
    }

    @include media-breakpoint-up(sm) {
        div.wrap {
            overflow: auto;
            padding: 20px 0;
        }
        div.view-mode{
          &:hover {
              transform: translate(10px,-5px) scale(1.04);
              z-index: 1;
          }
        }
    }
}
