.archive_01 {
  
    @include media-breakpoint-up(xs) {
        div.wrap {
            overflow: auto;
            .list-item {
                transition: 1s;
            }
        }
        div.view-mode {
            background: #ffffff;
            border-radius: 5px;
            transition: 0.2s;
            box-shadow: 1.5px 1.5px 1.5px 1.5px #e2e2e2;
        }
    }

    @include media-breakpoint-up(sm) {
        div.wrap {
            padding: 20px 0;
        }
        div.view-mode{
          &:hover {
              transform: translate(10px,-5px) scale(1.04);
              z-index: 1;
          }
        }
    }
}
