.block--textblock__front {
    .web-info {
        #logo {
            @include media-breakpoint-down(sm) {
                max-width: 100px;
            }
        }
        a.name {
            color: #ffffff!important;
        }
    }

    .avatar-list {
        ul {
            padding: 0;
            margin: 0;

            li {
                display: block;

                img {
                    border-radius: 50%;
                }
            }
        }
    }

    .about-content {
        .field-content {
            max-width: 750px;
        }
        @include media-breakpoint-down(sm) {
            display: none!important;
        }
    }
}
