.search-block {
    form.search-form{
      max-width: 600px;
      width: 100%;
      label{
        width: 100%;
        input{
          width: 100%;
          background: #ffffff;
          border: 0px;
          padding: 15px;
          box-shadow: 1.5px 1.5px 1.5px 1.5px #e2e2e2 inset;

        }
      }
      input.search-submit{
        display: none;
      }
    }
}
