#header{
  background: #26446F;
  color: #ffffff;
  text-align: center;
  a{
    color: #ffffff;
  }
}

#page {
    background: #EEEEEE;
}

#content{
  background: rgba(0,0,0,0)!important;
}

#banner{
  
}
