#header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #26446F;
    color: #ffffff;
    text-align: center;
    a {
        color: #ffffff;
    }
}

#page {
    background: #EEEEEE;
}

#content {
    background: rgba(0,0,0,0)!important;
}

#bottom {
  //background: #28282B;
  //background: #0C0D0C;
  background: #ffffff;
}
