body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto!important;
}

iframe{
  max-width: 100%;
}

.header-menu {
    display: none;
}

#wpadminbar{
  position: fixed!important;
}

#snippet-box {
    display: none;
}
